.main-container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: 3rem auto 0 auto;
  align-items: center;
}

.arrows {
  width: 5rem;
}

.inputs-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 8px;
  background-color: rgba(20, 5, 50, 0.6);

  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    margin: 1.5rem auto 0 auto;
  }
  .form-container {
    width: 98%;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    margin: 0.5rem auto 0 auto;
  }
}
